body {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.body-holder {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
}

.container {
    padding: 10vh 37vh;
}

.left{
    width: 580px;
    padding-top: 82px;
    padding-left: 100px;
}

.left p {
    font-size: 28px;
    line-height: 32px;
    margin-top: -19px;
}

.right{
    padding: 1px;
    padding-top: 15px;
    padding-bottom: 25px;
    border-radius: 8px;
    width: 396px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    position: relative;
    background: white;
    margin-right: 15px;
}

.img img {
    width: 320px;
    height: 120px;
    text-align: start;
    position: relative;
    margin: -31px 0px 0px -29px;

}

.img {
    margin-right: 20px;
    text-align: start;
    align-items: start;
}   

button {
    border: none;
    background-color: #1877f2;
    color: #fff;
    margin: auto;
    width: 100%;
    display: block;
    border-radius: 8px;
    padding: 11px 6px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    font-size: 18px;
}
.submit {
    padding-top: 10px;
    width: 360px;

}
.f-pws {
    text-align: center;
    text-decoration: none;
    display: block;
    color: #1877f2;
    font-size: 14px;
    margin: 10px 0;
}

.f-pws:hover {
    text-decoration: underline;
}

.line {
    border-top: 1px solid #222;
    opacity: 0.2;
}

.bnt2 {
    width: 64%;
    font-size: 17px;
    background-color: #42b72a;
    text-align: center;
    height: 50px;
    border-radius: 8px;
}

input[type="text"],
input[type="password"] {
    height: 25px;
    display: block;
    background-color: #fff;
    margin:auto;
    border: 1.5px solid rgb(225, 225, 225);
    width: 340px;
    padding: 8px 10px;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    height: 30px;
}

.right input:focus{
    border: 1.5px solid #1877f2;
    outline: none;
    caret-color: #1877f2;
}

.sub-link {
    text-align: center;
    color: #1c1e21;
    font-size: 14px;
    margin-top: 10px;
    padding: 20px;
    max-width: 420px; 
    margin-left: -30px;  
    margin-right: auto; 
}

.sub-link a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}